*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
img{
  max-width: 100%;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}

/* -------------------Resuseable classes-------------------- */
.btn{
  padding: 15px 45px;
  border: none;
  border-radius: 46px;
  cursor: pointer;
  background-color: #242A68;
  color: white;
  font-weight: bold;
}
.btn:hover{
  background-color: #242a68d6;
}
.btn:disabled{
  background-color: #242a68d6;
  cursor: default;
}